img{width:300px;}
h1{color:#9f5ac9;font-family: 'Neuton', serif;}
body{color:#9f5ac9;}
body{background-color:#e9d4f5;font-family: 'Gochi Hand', cursive;}
.q1{
    background-color:white;
}

.q2 {
    background-color:white;
}
.q3{
    background-color:white;
}
.q4{
    background-color:white;
}
.q5{
    background-color:white;
}